body {
    font-family: 'Anton', sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('plain.jpg');
    /* backdrop-filter: blur(5px); */
    background-repeat:no-repeat;
    background-size: 1600px 1000px;
   
    height: 4500px;


}

.left {
    position: absolute;
    left: 34px;
    top: 20px display: inline-block;
    /* border: 2px solid red; */


}

.left img {
    width: 100px;
    /* filter: invert(100%); */
}

.left div {
    text-align: center;
}

.mid {
    display: block;
    width: 50%;
    margin: 20px auto ;
    /* border: 2px solid rgb(0, 255, 98); */

}

.right {
    position: absolute;
    right: 34px;
    top: 26px;
    display: inline-block;
    /* border: 2px solid rgb(203, 218, 150); */

}

.navbar {
    display: inline-block;
    
}

.navbar li {
    display: inline-block;
    font-size:30 px;


}

.navbar li a {
    color: rgb(34, 32, 32);
    text-decoration: none;
    padding: 20px 23px;
}

.navbar li a:hover,
.navbar li a:active {
    text-decoration: underline;
    color: rgb(226, 216, 226);
}

.btn {
    font-family: 'Anton', sans-serif;
    margin: opx 9px;
    background-color: rgb(0, 0, 0);
    color: rgb(20, 20, 20);
    padding: 4px 14px;
    border: 2px solid gray;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: grey;
}
.container {
    border: 2px solid white;
    
    margin: 250px 150px;
    padding: 20px 20px;
    width: 53%;
    border-radius: 13px;

}
.container h1{
    text-align: center;
    font-size: 40px;
    color: rgb(31, 30, 29);

}
.container p{
    text-align: center;
    line-height: 18px;
    color: black;
}
.container button{
    display: block;
    width: 100px;
    margin: auto;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid rgb(235, 20, 20);
    color: rgb(14, 13, 13);
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white,0 0 10px white,0 0 15px white;
    font-weight: bold;
}
#bottom{
    position: relative;

    left: 650px;
    top:15px;
    color: black;
    
}
 #img{
    text-align: right;
    margin-top: -600px;
    
}
#Bleft{
    
    float: left;
    width: 33.33%;
    padding: 5px;
}
#Bcenter{
    text-align: center;
    margin-top: -1050px;
    width: 100%;
}
#Bright{
    text-align: right;
}
.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 25px;

  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 30px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  